@import "../main.css";

.dashboard {
  width: auto;
  height: auto;
  border: none;
}

.tabs-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: sticky;
  top: 0;
}

.tab {
  text-align: center;
  color: var(--secondary_fontcolor_dark);
  background-color: rgba(230, 230, 236);
  margin: 1vh;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 1vh;
  -webkit-border-radius: 1vh;
  -moz-border-radius: 1vh;
  -ms-border-radius: 1vh;
  -o-border-radius: 1vh;
  -webkit-text-stroke-color: #ffffff;
}

.windows-container {
  height: 90vh;
  max-height: 90vh;
  margin-top: 1.4vh;
  padding: 1vh;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 5px 5px 0px;
  border: rgba(0, 0, 0, 0.56) 0px 5px 5px 0px;
  border-radius: 1.3rem;
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  -ms-border-radius: 1.3rem;
  -o-border-radius: 1.3rem;
}
.tasks_containerByDate .task {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  padding: 2vh;
  margin: 1vh;
}
.tasks_containerByDate .task .task-info {
  flex-basis: 99%;
}
.tasks_containerByDate .task .task-info .task-title {
  font-size: 1rem;
  font-weight: bold;
}
.tasks_containerByDate .task .task-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 1%;
}

.tasks_containerByDate .task .task-actions .action-button {
  height: 70%;
  display: flex;
  text-align: center;
  background-color: #1876ef;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 800;
  transition: 0.2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.tasks_containerByDate .task .task-actions .action-button:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
    -2px -2px 4px rgba(255, 255, 255, 0.4),
    2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.tasks_containerByDate .task .task-actions .action-button:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
    inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 2px rgba(255, 255, 255, 0.075),
    inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.tasks_containerByDate .tasks_containerByDate-Header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.window-item {
  height: auto;
  overflow-y: scroll;
}
.window-item .toolbar-header {
  background-color: var(--form-backgroundcolor_dark);
  color: var(--fontcolor_dark);
  border-radius: 0.9vh;
  -webkit-border-radius: 0.9vh;
  -moz-border-radius: 0.9vh;
  -ms-border-radius: 0.9vh;
  -o-border-radius: 0.9vh;
}

.window-item .toolbar-header .toolbar-header-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.window-item .toolbar-header .toolbar-header-items .more-icon {
  margin-left: auto !important;
  margin-right: 1vh;
  font-size: 2rem;
}
