@import "../main.css";

.dashboard {
  width: auto;
  height: auto;
  border: none;
}

.resume {
  min-height: 30vh;
  width: 100%;
  padding: 4vh;
}

.resume .resume-content {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.statistics {
  flex-basis: 90%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  gap: 2vh;
}

.statistics p {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.2ch;
  margin: 2vh;
}

@keyframes creativeShadowSpin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    box-shadow: 0 0 10px 5px rgba(164, 158, 158, 0.5);
  }

  10% {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    box-shadow: 0 0 10px 5px rgba(164, 158, 158, 0.5);
  }

  20% {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    box-shadow: 20px 0 30px 15px rgba(169, 163, 163, 0.5);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
  }

  25% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    box-shadow: 20px 0 30px 15px rgba(169, 163, 163, 0.5);
  }

  30% {
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    box-shadow: 20px 0 30px 15px rgba(169, 163, 163, 0.5);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
  }

  40% {
    transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    box-shadow: 0 -20px 40px 20px rgba(197, 189, 189, 0.5);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
  }

  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    box-shadow: 0 -20px 40px 20px rgba(197, 189, 189, 0.5);
  }

  75% {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    box-shadow: -20px 0 30px 15px rgba(224, 218, 218, 0.5);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.statistics .circle {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  height: 25vh;
  width: 25vh;
  border-radius: 50%;
  margin: 0 auto;
  animation: creativeShadowSpin 1.4s ease-in-out;
  -webkit-animation: creativeShadowSpin 1.4s ease-in-out;
  position: relative;
  z-index: 2;
}

.circle small {
  font-size: 0.8rem;
  font-weight: 200;
}

.circle.circle_pending {
  background-image: radial-gradient(
    closest-side,
    transparent 70%,
    rgba(239, 75, 75, 0.5) 75%,
    #ef4b4b 10%
  );
}

.circle.circle_in-progress {
  background-image: radial-gradient(
    closest-side,
    transparent 70%,
    rgba(255, 217, 102, 0.5) 75%,
    #f7d060 76%
  );
}

.circle.circle_done {
  background-image: radial-gradient(
    closest-side,
    transparent 70%,
    rgba(169, 236, 162, 0.5) 75%,
    #a2ff86 76%
  );
}

.user-3d-model {
  flex-basis: 10%;
  position: relative;
  width: 100%; /* Adjust as needed */
  max-height: 100%;
}

.user-3d-model-img {
  z-index: 2; /* Adjust as needed to ensure the image appears above other elements */
}

.timeline-info{
  padding: 2vh;
  padding-top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.tabs-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: sticky;
  top: 0;
}

.tab {
  text-align: center;
  color: var(--secondary_fontcolor_dark);
  background-color: rgba(230, 230, 236);
  margin: 1vh;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 1vh;
  -webkit-border-radius: 1vh;
  -moz-border-radius: 1vh;
  -ms-border-radius: 1vh;
  -o-border-radius: 1vh;
  -webkit-text-stroke-color: #ffffff;
}

.windows-container {
  height: 90vh;
  max-height: 90vh;
  margin-top: 1.4vh;
  padding: 1vh;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 5px 5px 0px;
  border: rgba(0, 0, 0, 0.56) 0px 5px 5px 0px;
  border-radius: 1.3rem;
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  -ms-border-radius: 1.3rem;
  -o-border-radius: 1.3rem;
}
.tasks_containerByDate .task {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  padding: 2vh;
  margin: 1vh;
}
.tasks_containerByDate .task .task-info {
  flex-basis: 100%;
}
.tasks_containerByDate .task .task-info .task-title {
  font-size: 1rem;
  font-weight: bold;
}
.tasks_containerByDate .task .task-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 1%;
}

.tasks_containerByDate .task .task-actions .action-button {
  height: auto;
  max-height: 50%;
  padding: 2vh;
  display: flex;
  text-align: center;
  color: #121212;
  font-size: 1rem;
  font-weight: 800;
  transition: 0.2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.tasks_containerByDate .task .task-actions .action-button:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
    -2px -2px 4px rgba(255, 255, 255, 0.4),
    2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.tasks_containerByDate .task .task-actions .action-button:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
    inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 2px rgba(255, 255, 255, 0.075),
    inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.tasks_containerByDate .tasks_containerByDate-Header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.window-item {
  height: auto;
  overflow-y: scroll;
}
.window-item .toolbar-header {
  background-color: var(--form-backgroundcolor_dark);
  color: var(--fontcolor_dark);
  border-radius: 0.9vh;
  -webkit-border-radius: 0.9vh;
  -moz-border-radius: 0.9vh;
  -ms-border-radius: 0.9vh;
  -o-border-radius: 0.9vh;
  padding: 2vh;
}

.window-item .toolbar-header .toolbar-header-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.window-item .toolbar-header .toolbar-header-items .more-icon {
  margin-left: auto !important;
  margin-right: 1vh;
  font-size: 2rem;
}
